@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  font-size: 15px;
}

.container {
  margin: 1rem;
}

.box {
  padding: 2.5rem;
}

.box > h3 {
  font-family: "Big Shoulders Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  margin: 1.2rem 0;
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
}

.box > p {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;
  color: hsla(0, 0%, 100%, 0.75);
}

.box > button {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: hsl(0, 0%, 95%);
  padding: 0.7rem 1.4rem;
  border: 2px solid hsl(0, 0%, 95%);
  border-radius: 2rem;
  margin-top: 1.5rem;
  cursor: pointer;
}

#box1 {
  background-color: hsl(31, 77%, 52%);
  border-radius: 0.5rem 0.5rem 0 0;
}

#box2 {
  background-color: hsl(184, 100%, 22%);
}

#box3 {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0 0.5rem 0.5rem;
}

#box1 > button {
  color: #d97b2a;
}
#box1 > button:hover {
  background-color: #d97b2a;
  color: white;
}
#box2 > button {
  color: #0d7a80;
}
#box2 > button:hover {
  background-color: #0d7a80;
  color: white;
}
#box3 > button {
  color: #165759;
}
#box3 > button:hover {
  background-color: #165759;
  color: white;
}
